<section class="focus" id="beforeArrival">
<div class="container">
	<!-- SECTION HEADER -->
	<div class="section-header">
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Before Arrival</h2>

		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<p class="shortDescription">
			Here you will find some resources regarding all you need to know for your study stay in BA.
		</p>
	</div>
	<!-- / END SECTION HEADER -->

	<!-- 3 FOCUS BOXES -->
	<div class="row">
		<!-- FIRST FOCUS BOXES -->
		<div class="col-lg-4 col-sm-4 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href='https://turismo.buenosaires.gob.ar/es'>
				<div class="service-icon">
					<i class="pixeden pd-icon-map"></i> <!-- FOCUS ICON-->
				</div>
			</a>
			<h3 class="red-border-bottom">The city</h3> <!-- FOCUS HEADING -->
			<p> <!-- FOCUS DESCRIPTION -->
				 Have you read about all the things you can do in BA?
			</p>
		</div>
		<!-- / END FIRST FOCUS BOX. Other boxes has same format -->

		<div class="col-lg-4 col-sm-4 focus-box green wow fadeIn animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href='http://fi.uba.ar/'>
				<div class="service-icon">
					<span class="pixeden pd-icon-culture"></span>
				</div>
			</a>
			<h3 class="green-border-bottom">Studying at FIUBA</h3>
			<p>
				 Have you visited the web page of the Faculty?
			</p>
		</div>

		<div class="col-lg-4 col-sm-4 focus-box blue wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href='https://docs.google.com/document/d/1VErdL777d_0JhIzgmOiqeRzIrSDJQ2gmQQtLdZwb2sc/edit'>
				<div class="service-icon">
					<i class="pixeden pd-icon-search"></i>
				</div>
			</a>
			<h3 class="blue-border-bottom">Accommodation</h3>
			<p>
				 Don't you know where to find your forthcoming accommodation? Check this out to see where
				 other students have lived.
			</p>
		</div>
	</div>
	<!-- / END 4 FOCUS BOXES -->
</div> <!-- / END CONTAINER -->
</section>  <!-- / END FOCUS SECTION -->
