<section class="about-us" id="aboutInfriendsProgram" data-ng-controller='aboutInfriendsCtrl'>
<div class="container">
	<!-- SECTION HEADER -->
	<div class="section-header">
		<!-- SECTION TITLE -->
		<h2 class="white-text">{{sectionTitle}}</h2>

		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<p class="white-text shortDescription">
				{{infriendShortDescription}}
		</p>
	</div>
	<!-- / END SECTION HEADER -->

	<!-- 2 COLUMNS OF Infriends Program-->
	<div class="row">
		<!-- COLUMN 1 - BIG MESSAGE ABOUT THE PROGRAM-->
		<div class="col-lg-4 col-md-4 column">
			<div class="big-intro wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				 {{infriendBigMessage}}
			</div>
		</div>

		<!-- COLUMN 2 - BRIEF ABOUT THE PROGRAM-->
		<div class="col-lg-8 col-md-8 column">
			<div class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<p class="white-text" data-ng-bind-html="infriendLargeDescription"></p>
			</div>
		</div>

	</div> <!-- / END 2 COLUMNS OF Infriends Program-->

	<!-- INFRIEND -->
	<div class="our-clients">
		<p><span class="section-footer-title">AN INFRIEND WILL BE ASIGNED TO YOU</span></p>
	</div>
			<!-- 4 Features -->
		<div class="row">
			<!-- FIRST Feature -->
			<div class="col-lg-3 col-sm-3 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="service-icon">
					<i class="pixeden pd-icon-email-marketing"></i> <!-- FOCUS ICON-->
				</div>
				<h3 class="red-border-bottom">Contact you</h3> <!-- FOCUS HEADING -->
				<p> <!-- FOCUS DESCRIPTION -->
					 Your InFriend will contact you by email a couple of weeks before the semester starts.
				</p>
			</div>
			<!-- / END FIRST Feature -->

			<div class="col-lg-3 col-sm-3 focus-box green wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="service-icon">
					<i class="pixeden pd-icon-map"></i>
				</div>
				<h3 class="green-border-bottom">Arrival</h3>
				<p>
					 Your InFriend will pick you up at the airport.
				</p>
			</div>

			<div class="col-lg-3 col-sm-3 focus-box blue wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="service-icon">
					<i class="pixeden pd-icon-truck"></i>
				</div>
				<h3 class="blue-border-bottom">Means of transport</h3>
				<p>
					 Your InFriend will help you with the several means of transport of the city.
				</p>
			</div>

			<div class="col-lg-3 col-sm-3 focus-box yellow wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="service-icon">
					<i class="pixeden pd-icon-tablet"></i>
				</div>
				<h3 class="yellow-border-bottom">Help you</h3>
				<p>
					 Your InFriend will help you with the courses which you want to take.
				</p>
			</div>
		</div>
		<!-- / END 4 Features -->
</div> <!-- / END CONTAINER -->
</section> <!-- END Infriends Program SECTION -->
