<section class="our-team" id="team" >
<div class="container">
	<!-- SECTION HEADER -->
	<div class="section-header">
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Our Team</h2>
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<p class="shortDescription">
			We are volunteers who want to help exchange students.
		</p>
	</div>
	<!-- / END SECTION HEADER -->

	<!-- TEAM MEMBERS PHOTO -->
	<div class="row">
		<%= image_tag('team/asado_2c2016', alt: 'Photo of InFriends', class: 'team-img') %>
	</div> <!-- / END TEAM MEMBER LIST -->

</div> <!-- / END CONTAINER -->
</section> <!-- / END OUR TEAM SECTION -->
