<section class="separator-one">
<div class="color-overlay">
	<p class="separatorText container text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
	Here some encouraging lines oriented to exchange students. (example: https://www.isc.cvut.cz/guide/) </p>
	<div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
		<a href="#testimonials" class="btn btn-primary custom-button green-btn inpage-scroll">TESTIMONIALS</a>
	</div>
</div>
</section>  <!-- / END SEPARATOR -->
