<section class="separator-one" data-ng-controller='separatorCtrl'>
<div class="color-overlay">
	<p class="separatorText container text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
		{{description}}
	</p>
	<div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
		<a href="#testimonials" class="btn btn-primary custom-button green-btn inpage-scroll">TESTIMONIALS</a>
	</div>
</div>
</section>  <!-- / END SEPARATOR -->
