<div data-ng-app="inFiubaApp">
<!-- =========================
   HOME SECTION
============================== -->
<header id="home" class="header">

	<!-- TOP BAR -->
	<div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">
		<div class="container">
			<div class="navbar-header responsive-logo">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand inpage-scroll">
					<a href="#home"> ISN - FIUBA </a>
				</div>
			</div>
			<nav class="navbar-collapse collapse" role="navigation" id="bs-navbar-collapse">
			<ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
        <li><a href="#beforeArrival">Before Arrival</a></li>
				<li><a href="#aboutInfriendsProgram">Infriends Program</a></li>
				<li><a href="#activities">Activities</a></li>
				<li><a href="#events">Events</a></li>
        <li><a href="#team">Team</a></li>
				<li><a href="#testimonials">Testimonials</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			</nav>
		</div>
	</div>
	<!-- / END TOP BAR -->

	<!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
	<div class="container">

		<!-- HEADING -->
		<h1 class="intro">International Student Network</h1>
		<p class="tagline">Provide support for exchange students and integrate them into life in Buenos Aires.</p>

		<!-- CALL TO ACTION BUTTONS -->
		<div class="buttons inpage-scroll">
			<a href="#beforeArrival" class="btn btn-primary custom-button red-btn">Before arrival</a>
			<a href="#aboutInfriendsProgram" class="btn btn-primary custom-button green-btn">InFriends program</a>
		</div>

	</div> <!-- / END BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES  -->

</header> <!-- / END HOME SECTION  -->

<!-- =========================
   BEFORE ARRIVAL SECTION
============================== -->
<section class="focus" id="beforeArrival">
<div class="container" data-ng-controller="generalInformationCtrl">
	<!-- SECTION HEADER -->
	<div class="section-header">

		<!-- SECTION TITLE -->
		<h2 class="dark-text">Before Arrival</h2>

		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<p class="shortDescription">
			Here you will find some resources regarding all you need to know for your study stay in BA.
		</p>
	</div>
	<!-- / END SECTION HEADER -->

	<!-- 4 FOCUS BOXES -->
	<div class="row">

		<!-- FIRST FOCUS BOXES -->
		<div class="col-lg-3 col-sm-3 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="service-icon" data-ng-click="open('lg', 0)">
				<i class="pixeden pd-icon-map"></i> <!-- FOCUS ICON-->
			</div>
			<h3 class="red-border-bottom">The city</h3> <!-- FOCUS HEADING -->
			<p> <!-- FOCUS DESCRIPTION -->
				 Here some information about BA. The image should link to a more detailed page about BA.
			</p>
		</div>
		<!-- / END FIRST FOCUS BOX. Other boxes has same format -->

		<div class="col-lg-3 col-sm-3 focus-box green wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="service-icon" data-ng-click="open('lg', 1)">
				<span class="pixeden pd-icon-culture"></span>
			</div>
			<h3 class="green-border-bottom">Studying at FIUBA</h3>
			<p>
				 Here some information about the Uni. The image should link to a more detailed page about FIUBA.
			</p>
		</div>

		<div class="col-lg-3 col-sm-3 focus-box blue wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="service-icon" data-ng-click="open('lg', 2)">
				<i class="pixeden pd-icon-search"></i>
			</div>
			<h3 class="blue-border-bottom">Accommodation</h3>
			<p>
				 Here some information about how to find accommodation. The image should link to a more detailed page about how to find accommodation (some links maybe).
			</p>
		</div>

		<div class="col-lg-3 col-sm-3 focus-box yellow wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="service-icon" data-ng-click="open('lg', 3)">
				<i class="pixeden pd-icon-tablet"></i>
			</div>
			<h3 class="yellow-border-bottom">Legal information</h3>
			<p>
				 Here some information about legals. The image should link to a more detailed page about legals.
			</p>
		</div>
	</div>
	<!-- / END 4 FOCUS BOXES -->

    <script type="text/ng-template" id="infoModalContent.html">
        <div class="modal-header details white-text">
            <h1 class="modal-title">{{sectionTitle}}</h1>
			<p>
				Here you will find some useful information about {{sectionTitle}}.
				COMPLETE OR MODIFY IT
			</p>
        </div>
        <div class="modal-body details">
			<div class="row">
				<div class="col-lg-4 col-md-4 column">
					<div class="big-intro wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
						 <img src="" class="img-circle" data-ng-src="{{imageUrl}}" />
					</div>
					<div class="big-intro wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
						 <img src="" class="img-circle" data-ng-src="{{imageUrl2}}" />
					</div>
				</div>

				<div class="col-lg-8 col-md-8 column">
					<p class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
						 <p class="white-text" data-ng-bind-html="information"></p>
					</p>
				</div>

			</div>
        </div>
		<div class="wow fadeInRight animated details" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="" class="btn btn-primary custom-button blue-btn inpage-scroll" data-ng-click="ok()">OK</a>
		</div>
    </script>

</div> <!-- / END CONTAINER -->
</section>  <!-- / END FOCUS SECTION -->

<!-- =========================
   SEPARATOR ONE
============================== -->

<section class="separator-one">
<div class="color-overlay">
	<p class="separatorText container text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
	Here some encouraging lines oriented to exchange students. (example: https://www.isc.cvut.cz/guide/) </p>
	<div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
		<a href="#testimonials" class="btn btn-primary custom-button green-btn inpage-scroll">TESTIMONIALS</a>
	</div>
</div>
</section>  <!-- / END SEPARATOR -->


<!-- =========================
   Infriends Program SECTION
============================== -->

  <section class="about-us" id="aboutInfriendsProgram" data-ng-controller='aboutInfriendsCtrl'>
<div class="container">

	<!-- SECTION HEADER -->
	<div class="section-header">

		<!-- SECTION TITLE -->
		<h2 class="white-text">{{sectionTitle}}</h2>

		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<p class="white-text shortDescription">
				{{infriendShortDescription}}
		</p>
	</div>
	<!-- / END SECTION HEADER -->

	<!-- 2 COLUMNS OF Infriends Program-->
	<div class="row">

		<!-- COLUMN 1 - BIG MESSAGE ABOUT THE PROGRAM-->
		<div class="col-lg-4 col-md-4 column">
			<div class="big-intro wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				 {{infriendBigMessage}}
			</div>
		</div>

		<!-- COLUMN 2 - BRIEF ABOUT THE PROGRAM-->
		<div class="col-lg-8 col-md-8 column">
			<div class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<p class="white-text" data-ng-bind-html="infriendLargeDescription"></p>
			</div>
		</div>

	</div> <!-- / END 2 COLUMNS OF Infriends Program-->

	<!-- INFRIEND -->
	<div class="our-clients">
		<p><span class="section-footer-title">AN INFRIEND WILL BE ASIGNED TO YOU</span></p>
	</div>
			<!-- 4 Features -->
		<div class="row">

			<!-- FIRST Feature -->
			<div class="col-lg-3 col-sm-3 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="service-icon">
					<i class="pixeden pd-icon-email-marketing"></i> <!-- FOCUS ICON-->
				</div>
				<h3 class="red-border-bottom">Contact you</h3> <!-- FOCUS HEADING -->
				<p> <!-- FOCUS DESCRIPTION -->
					 Your InFriend will contact you by email a couple of weeks before the semester starts.
				</p>
			</div>
			<!-- / END FIRST Feature -->

			<div class="col-lg-3 col-sm-3 focus-box green wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="service-icon">
					<i class="pixeden pd-icon-map"></i>
				</div>
				<h3 class="green-border-bottom">Arrival</h3>
				<p>
					 Your InFriend will pick you up at the airport.
				</p>
			</div>

			<div class="col-lg-3 col-sm-3 focus-box blue wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="service-icon">
					<i class="pixeden pd-icon-truck"></i>
				</div>
				<h3 class="blue-border-bottom">Means of transport</h3>
				<p>
					 Your InFriend will help you with the several means of transport of the city.
				</p>
			</div>

			<div class="col-lg-3 col-sm-3 focus-box yellow wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="service-icon">
					<i class="pixeden pd-icon-tablet"></i>
				</div>
				<h3 class="yellow-border-bottom">Help you</h3>
				<p>
					 Your InFriend will help you with the courses which you want to take.
				</p>
			</div>
		</div>
		<!-- / END 4 Features -->

</div> <!-- / END CONTAINER -->

</section> <!-- END Infriends Program SECTION -->

<!-- =========================
   activities SECTION
============================== -->

<section class="works" id="activities" data-ng-controller='activitiesCtrl'>
<div class="container">

	<!-- SECTION HEADER -->
	<div class="section-header">

		<!-- SECTION TITLE -->
		<h2 class="dark-text">Activities</h2>

		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<p class="shortDescription">
			We organize several kinds of activites.
		</p>
	</div>
	<!-- / END SECTION HEADER -->
	<div class="row projects">
	<div id="loader">
	    <div class="loader-icon"></div>
	</div>
	<div class="col-md-12" id="portfolio-list">
		<!-- Activity ITEMS-->
		<ul class="cbp-rfgrid">
        <!-- Activities -->
        <li data-ng-repeat="activity in activities" class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
          <a data-ng-click="open(activity.id)"><img src="" data-ng-src="{{activity.imageUrl}}"  alt="activity"/>
      			<div class="project-info">
      				<div class="project-details">
      					<h5 class="white-text red-border-bottom"> {{activity.name}} </h5>
      					<div class="details white-text"> {{activity.details}} </div>
      				</div>
      			</div>
  			  </a>
        </li>
        <!-- / Activities -->
        <!-- ... -->
		</ul>
	</div>
	<!-- END OF Activity ITEMS-->
  </div>

	<!-- Activity DETAILS WILL BE LOADED HERE -->
	<div id="loaded-content"></div>

	<a id="back-button" class="red-btn" href="#"><i class="icon-fontawesome-webfont-27"></i> Go Back</a>

  <script type="text/ng-template" id="galleryModalContent.html">
      <div class="modal-header">
          <h3 class="modal-title">Select album</h3>
      </div>
      <div class="modal-body">
          <ul>
              <li data-ng-repeat="item in items">
                  <a data-ng-href="{{item.album}}" target="_blank">{{ item.name }}</a>
              </li>
          </ul>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="button" data-ng-click="ok()">Done!</button>
      </div>
  </script>
</div> <!-- / END CONTAINER -->
</section> <!-- / END activities SECTION -->

<!-- =========================
   STATS
============================== -->

<section class="stats" data-ng-controller="statsCtrl">
	<div class="container">
	    <!-- STATS -->
	    <div class="row">

	        <!-- START COLUMN -->
	        <div data-ng-repeat="stat in stats" class="col-lg-3 col-sm-3">
	            <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
	                <div class="icon-top red-text">
	                    <i class="icon-design-graphic-tablet-streamline-tablet"></i>
	                </div>
	                <div class="stat-text">
	                <p class="white-text {{stat.border}}">{{stat.value}}</p>
	                <p>{{stat.name}}</p>
	                </div>
	            </div>
	        </div> <!-- / END COLUMN -->
	    </div>
</div>
</section>  <!-- / END STATS -->

<!-- =========================
   EVENTS SECTION
============================== -->

<section class="events" id="events" data-ng-controller="events">
<div class="container">
	<!-- SECTION HEADER -->
	<div class="section-header">
	  	<!-- SECTION TITLE -->
	  	<h2 class="dark-text">Events</h2>
	    <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<p class="shortDescription">
			See below the list of forthcoming events.
		</p>
 	</div>

	<section id="news" class="white-bg">
		<div class="timeline" data-ng-repeat="month in eventsPerMonth">
			<div class="date-title">
				<span>{{month.monthAndYear}}</span>
			</div>
			<div class="row">
				<div data-ng-repeat="event in month.events">
					<div data-ng-class-even="{'col-sm-6 news-item right':'even'}" data-ng-class-odd="{'col-sm-6 news-item':'odd'}">
						<div class="news-content">
							<div class="date">
								<p>{{event.day}}</p>
								<small>{{event.dayName}}</small>
							</div>
							<h3 class="news-title">{{event.title}}</h3>
							<div class="news-media">
								<a class="colorbox cboxElement" data-ng-href="{{event.link}}" target="_blank">
	                              <img src="" class="img-responsive" data-ng-src="{{event.imageUrl}}" alt="">
	                          </a>
							</div>
							<p> {{event.description}} </p>
							<a class="read-more" data-ng-href="{{event.link}}" target="_blank">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div> <!-- / END CONTAINER -->
  </section> <!-- / END OUR TEAM SECTION -->

<!-- =========================
   OUR TEAM SECTION
============================== -->

<section class="our-team" id="team" >
<div class="container">

	<!-- SECTION HEADER -->
	<div class="section-header">

		<!-- SECTION TITLE -->
		<h2 class="dark-text">Our Team</h2>

		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<p class="shortDescription">
			We are volunteers who want to help exchange students.
		</p>
	</div>
	<!-- / END SECTION HEADER -->

	<!-- TEAM MEMBERS PHOTO -->
	<div class="row wow fadeInRight animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s">
		[Photo of INFRIENDS]
	</div> <!-- / END TEAM MEMBER LIST -->

</div> <!-- / END CONTAINER -->
</section> <!-- / END OUR TEAM SECTION -->

<!-- =========================
   TESTIMONIAL
============================== -->

<section class="testimonial" id="testimonials" data-ng-controller='testimonialsCtrl'>
<div class="container">

	  <!-- SECTION HEADER -->
        <div class="section-header">
			<!-- SECTION TITLE -->
			<h2 class="white-text">Testimonials</h2>

			<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
			<p class="white-text shortDescription">
				Check what past exchange students said about us.
			</p>
		</div>
	<!-- / END SECTION HEADER -->

	<!-- Student FEEDBACKS -->
	<div class="row wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
		<div class="col-md-12">
			<div id="client-feedbacks" class="owl-carousel owl-theme">

				<!-- SINGLE FEEDBACK BOX-->
				<div class="feedback-box">
					<!-- MESSAGE OF THE STUDENT -->
					<div class="message">
						 {{testimonials[0].message}}
					</div>

					<!-- STUDENT INFORMATION -->
					<div class="client">
						<div class="quote red-text">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="client-info">
							<a class="client-name" href="">{{testimonials[0].name}}</a>
							<div class="client-company">
								 {{testimonials[0].city}}
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="" data-ng-src="{{testimonials[0].imageUrl}}" alt="">
						</div>
					</div> <!-- / END CLIENT INFORMATION-->
				</div> <!-- / END SINGLE FEEDBACK BOX-->
				<!-- SINGLE FEEDBACK BOX-->
				<div class="feedback-box">
					<!-- MESSAGE OF THE STUDENT -->
					<div class="message">
						 {{testimonials[1].message}}
					</div>

					<!-- STUDENT INFORMATION -->
					<div class="client">
						<div class="quote red-text">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="client-info">
							<a class="client-name" href="">{{testimonials[1].name}}</a>
							<div class="client-company">
								 {{testimonials[1].city}}
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="" data-ng-src="{{testimonials[1].imageUrl}}" alt="">
						</div>
					</div> <!-- / END CLIENT INFORMATION-->
				</div> <!-- / END SINGLE FEEDBACK BOX-->
				<!-- SINGLE FEEDBACK BOX-->
				<div class="feedback-box">
					<!-- MESSAGE OF THE STUDENT -->
					<div class="message">
						 {{testimonials[2].message}}
					</div>

					<!-- STUDENT INFORMATION -->
					<div class="client">
						<div class="quote red-text">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="client-info">
							<a class="client-name" href="">{{testimonials[2].name}}</a>
							<div class="client-company">
								 {{testimonials[2].city}}
							</div>
						</div>
						<div class="client-image hidden-xs">
							<img src="" data-ng-src="{{testimonials[2].imageUrl}}" alt="">
						</div>
					</div> <!-- / END CLIENT INFORMATION-->
				</div> <!-- / END SINGLE FEEDBACK BOX-->

			</div> <!-- / END FEEDBACKS-->
		</div> <!-- / END COLUMN -->
	</div> <!-- / END ROW -->

</div> <!-- / END CONTAINER -->
</section> <!-- / END TESTIMONIAL SECTION -->

<!-- =========================
   CONTACT US
============================== -->

<section class="contact-us" id="contact">
<div class="container">

	<!-- SECTION HEADER -->
        <div class="section-header">

		<!-- SECTION TITLE -->
		<h2 class="white-text">Get in touch</h2>

		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<p class="white-text shortDescription">
			Have any question? Drop us a message.
		</p>
	</div>
	<!-- / END SECTION HEADER -->

	<!-- CONTACT FORM-->
	<div class="row">
		<form role="form" class="contact-form" id="contact-form">
			<div class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="col-lg-4 col-sm-4">
				<input type="text" name="name" placeholder="Your Name" class="form-control input-box" id="name">
			</div>
			<div class="col-lg-4 col-sm-4">
				<input type="email" name="email" placeholder="Your Email" class="form-control input-box" id="email">
			</div>
			<div class="col-lg-4 col-sm-4">
				<input type="text" name="subject" placeholder="Subject" class="form-control input-box" id="subject">
			</div>
			</div>

			<div class="col-md-12 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<textarea name="message" class="form-control textarea-box" placeholder="Your Message" id="message"></textarea>
			</div>
			<!-- IF MAIL SENT SUCCESSFULLY -->
					<h4 class="success pull-left white-text">
						Your message has been sent successfully.
					</h4>

					<!-- IF MAIL SENDING UNSUCCESSFULL -->
					<h4 class="error pull-left white-text">
						E-mail must be valid and message must be longer than 1 character.
					</h4>
			<button class="btn btn-primary custom-button red-btn wow fadeInLeft animated" id="submit" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" type="submit">Send Message</button>
		</form>
	</div>
	<!-- / END CONTACT FORM-->
</div> <!-- / END CONTAINER -->
</section> <!-- / END CONTACT US SECTION-->
</div>

<!-- =========================
   FOOTER
============================== -->

<footer>
<div class="container">

	<!-- COLLEGE ADDRESS-->
	<div class="col-md-5 company-details">
		<div class="icon-top red-text">
		    <i class="icon-fontawesome-webfont-302"></i>
		</div>
		Paseo Colon 850, CABA, Buenos Aires, Argentina
	</div>

	<!-- COLLEGE EMAIL-->
	<div class="col-md-2 company-details">
		<div class="icon-top green-text">
		<i class="icon-fontawesome-webfont-329"></i>
		</div>
		 in.net.fiuba@gmail.com
		 interac@fi.uba.ar
	</div>

	<!-- COLLEGE PHONE NUMBER -->
	<div class="col-md-2 company-details">
		<div class="icon-top blue-text">
		<i class="icon-fontawesome-webfont-101"></i>
		</div>
		+54 011 43430092
		+54 011 43430893
	</div>

	<!-- SOCIAL ICON AND COPYRIGHT -->
	<div class="col-lg-3 col-sm-3 copyright">
		<ul class="social">
			<li><a href=""><i class="icon-facebook"></i></a></li>
			<li><a href=""><i class="icon-twitter-alt"></i></a></li>
			<li><a href=""><i class="icon-linkedin"></i></a></li>
		</ul>
	</div>
</div> <!-- / END CONTAINER -->
</footer> <!-- / END FOOOTER  -->
