header#home.header
  #main-nav.navbar.navbar-inverse.bs-docs-nav role="banner"
    .container
      .navbar-header.responsive-logo
        button.navbar-toggle.collapsed data-target="#bs-navbar-collapse" data-toggle="collapse" type="button"
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-brand.inpage-scroll
          a href="#home"  ISN - FIUBA
      nav#bs-navbar-collapse.navbar-collapse.collapse role="navigation"
        ul.nav.navbar-nav.navbar-right.responsive-nav.main-nav-list
          li
            a href="#beforeArrival"  Before Arrival
          li
            a href="#aboutInfriendsProgram"  Infriends Program
          li
            a href="#activities"  Activities
          li
            a href="#events"  Events
          li
            a href="#team"  Team
          li
            a href="#testimonials"  Testimonials
          li
            a href="#contact"  Contact

  .container
    h1.intro International Student Network
    p.tagline Provide support for exchange students and integrate them into life in Buenos Aires.
    .buttons.inpage-scroll
      a.btn.btn-primary.custom-button.red-btn href="#beforeArrival"  Before arrival
      a.btn.btn-primary.custom-button.green-btn href="#aboutInfriendsProgram"  InFriends program

section#beforeArrival.focus
  .container
    .section-header
      h2.dark-text Before Arrival
      p.shortDescription
        | Here you will find some resources regarding all you need to know for your study stay in BA.
    .row
      .col-lg-3.col-sm-3.focus-box.red.wow.fadeInLeft.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
        = link_to(article_path(1))
          .service-icon
            i.pixeden.pd-icon-map
        h3.red-border-bottom The city
        p
          | Have you read about all the things you can do in BA?
      .col-lg-3.col-sm-3.focus-box.green.wow.fadeInLeft.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
        a href='http://fi.uba.ar/'
          .service-icon
            i.pixeden.pd-icon-culture
        h3.green-border-bottom Studying at FIUBA
        p
          | Have you visited the web page of the Faculty?
      .col-lg-3.col-sm-3.focus-box.blue.wow.fadeInRight.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
        = link_to(article_path(2))
          .service-icon
            i.pixeden.pd-icon-search
        h3.blue-border-bottom Accommodation
        p
          | Don't you know where to find your forthcoming accommodation?
      .col-lg-3.col-sm-3.focus-box.yellow.wow.fadeInRight.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
        = link_to(article_path(3))
          .service-icon
            i.pixeden.pd-icon-tablet
        h3.yellow-border-bottom Legal information
        p
          | Some information about legals...

section.separator-one
  .color-overlay
    p.separatorText.container.text.wow.fadeInLeft.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
      | Here some encouraging lines oriented to exchange students. (example: https://www.isc.cvut.cz/guide/)
    .wow.fadeInRight.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
      a.btn.btn-primary.custom-button.green-btn.inpage-scroll href="#testimonials"  TESTIMONIALS

section#aboutInfriendsProgram.about-us
  .container
    .section-header
      h2.white-text  Infriends Program
      p.white-text.shortDescription
        | We contribute to understanding, friendship and cooperation among students.
    .row
      .col-lg-4.col-md-4.column
        .big-intro.wow.fadeInLeft.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
          | We are students who want to help you!
      .col-lg-8.col-md-8.column
        .wow.fadeInUp.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
          p.white-text
          | This program is driven by FIUBA International Network, which is made up entirely of
          | FIUBA students and seeks to increase the interaction between local and foreign students
          | and, achieving the full potential of intercultural experiences from student exchanges.
          |<br/><br/> The aim of InFriends is to promote personal development and student mobility
          | based on the principle of students helping students and internationalization at home.
    .our-clients
      p
        span.section-footer-title AN INFRIEND WILL BE ASIGNED TO YOU
    .row
      .col-lg-3.col-sm-3.focus-box.red.wow.fadeInLeft.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
        .service-icon
          i.pixeden.pd-icon-email-marketing
        h3.red-border-bottom Contact you
        p
          | Your InFriend will contact you by email a couple of weeks before the semester starts.
      .col-lg-3.col-sm-3.focus-box.green.wow.fadeInLeft.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
        .service-icon
          i.pixeden.pd-icon-map
        h3.green-border-bottom Arrival
        p
          | Your InFriend will pick you up at the airport.
      .col-lg-3.col-sm-3.focus-box.blue.wow.fadeInRight.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
        .service-icon
          i.pixeden.pd-icon-truck
        h3.blue-border-bottom Means of transport
        p
          | Your InFriend will help you with the several means of transport of the city.
      .col-lg-3.col-sm-3.focus-box.yellow.wow.fadeInRight.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
        .service-icon
          i.pixeden.pd-icon-tablet
        h3.yellow-border-bottom Help you
        p
          | Your InFriend will help you with the courses which you want to take.

section#activities.works
  .container
    .section-header
      h2.dark-text Activities
      p.shortDescription
        | We organize several kinds of activites.
    .row.projects
      #loader
        .loader-icon
      #portfolio-list.col-md-12
        ul.cbp-rfgrid
          li.wow.fadeInLeft.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
            a data-ng-click="open(activity.id)"
              img alt="activity" data-ng-src="{{activity.imageUrl}}" src="" /
              .project-info
                .project-details
                  h5.white-text.red-border-bottom  {activity.name}
                  .details.white-text  {activity.details}

section.stats
  .container
    .row
      .col-lg-3.col-sm-3
        .stat.wow.fadeInUp.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
          .icon-top.red-text
            i.icon-design-graphic-tablet-streamline-tablet

section#events.events
  .container
    .section-header
      h2.dark-text Events
      p.shortDescription
        | See below the list of forthcoming events.
    section#news.white-bg
      .timeline
        .date-title
          span  {month.monthAndYear}
        .row
          div data-ng-repeat=("event in month.events")
            div data-ng-class-even=("{'col-sm-6 news-item right':'even'}") data-ng-class-odd=("{'col-sm-6 news-item':'odd'}")
              .news-content
                .date
                  p  {event.day}
                  small  {event.dayName}
                h3.news-title  {event.title}
                .news-media
                  a.colorbox.cboxElement data-ng-href="{{event.link}}" target="_blank"
                    img.img-responsive alt="" data-ng-src="{{event.imageUrl}}" src="" /
                p  {event.description}
                a.read-more data-ng-href="{{event.link}}" target="_blank"  Read More

section#team.our-team
  .container
    .section-header
      h2.dark-text Our Team
      p.shortDescription
        | We are volunteers who want to help exchange students.
    .row.wow.fadeInRight.animated data-wow-delay="0.15s" data-wow-duration="3s" data-wow-offset="40"
      | [Photo of INFRIENDS]

section#testimonials.testimonial
  .container
    .section-header
      h2.white-text Testimonials
      p.white-text.shortDescription
        | Check what past exchange students said about us.
    .row.wow.fadeInRight.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
      .col-md-12
        #client-feedbacks.owl-carousel.owl-theme
          .feedback-box
            .message
              | {{testimonials[0].message}}
            .client
              .quote.red-text
                i.icon-fontawesome-webfont-294
              .client-info
                a.client-name href=("} {{testimonials[0].name}")
                .client-company
                  | {{testimonials[0].city}}
              .client-image.hidden-xs
                img alt="" data-ng-src="{{testimonials[0].imageUrl}}" src="" /
          .feedback-box
            .message
              | {{testimonials[1].message}}
            .client
              .quote.red-text
                i.icon-fontawesome-webfont-294
              .client-info
                a.client-name href=("} {{testimonials[1].name}")
                .client-company
                  | {{testimonials[1].city}}
              .client-image.hidden-xs
                img alt="" data-ng-src="{{testimonials[1].imageUrl}}" src="" /
          .feedback-box
            .message
              | {{testimonials[2].message}}
            .client
              .quote.red-text
                i.icon-fontawesome-webfont-294
              .client-info
                a.client-name href=("} {{testimonials[2].name}")
                .client-company
                  | {{testimonials[2].city}}
              .client-image.hidden-xs
                img alt="" data-ng-src="{{testimonials[2].imageUrl}}" src="" /

section#contact.contact-us
  .container
    .section-header
      h2.white-text Get in touch
      p.white-text.shortDescription
        | Have any question? Drop us a message.
    .row
      form#contact-form.contact-form role="form"
        .wow.fadeInLeft.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
          .col-lg-4.col-sm-4
            input#name.form-control.input-box name="name" placeholder=("Your Name") type="text" /
          .col-lg-4.col-sm-4
            input#email.form-control.input-box name="email" placeholder=("Your Email") type="email" /
          .col-lg-4.col-sm-4
            input#subject.form-control.input-box name="subject" placeholder="Subject" type="text" /
        .col-md-12.wow.fadeInRight.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30"
          textarea#message.form-control.textarea-box name="message" placeholder=("Your Message")
        h4.success.pull-left.white-text
          | Your message has been sent successfully.
        h4.error.pull-left.white-text
          | E-mail must be valid and message must be longer than 1 character.
        button#submit.btn.btn-primary.custom-button.red-btn.wow.fadeInLeft.animated data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30" type="submit"  Send Message

footer
  .container
    .col-md-5.company-details
      .icon-top.red-text
        i.icon-fontawesome-webfont-302
      | Paseo Colon 850, CABA, Buenos Aires, Argentina
    /! COLLEGE EMAIL
    .col-md-2.company-details
      .icon-top.green-text
        i.icon-fontawesome-webfont-329
      | in.net.fiuba@gmail.com
    /! COLLEGE PHONE NUMBER
    .col-md-2.company-details
      .icon-top.blue-text
        i.icon-fontawesome-webfont-101
      | +54 011 43430092 <br/>
      | +54 011 43430893
    .col-lg-3.col-sm-3.copyright
      ul.social
        li
          a href="https://www.facebook.com/IN.FIUBA/"
            i.fa.fa-facebook.fa-2x
        li
          a href="https://www.instagram.com/in.fiuba/"
            i.fa.fa-instagram.fa-2x
