<!DOCTYPE html>
<html>
  <head>
    <title>International Network - Facultad de Ingenieria de la UBA</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name="description" content="FIUBA InFriends Responsive Animated OnePage" />
    <meta name="keywords" content="InFriends, FIUBA, responsive, html"/>
    <meta name="author" content="Leandro Masello" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
